<p id="notice"><%= notice %></p>

<h1>Welcome to programmer's forum</h1>

<div>
    <% @topics.each do |topic| %>
        <h2>
        	<%= topic.name %>:<%= topic.description %>   
        </h2> 
        <p>
        	<%= link_to 'Show', topic %>    
         	<%= link_to 'Edit', edit_topic_path(topic) if can? :edit, User %>
        	<%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, User %>
   		</p>

        <% topic.thread_contents.each do |tc|%>
          <p style="font-size:14px"> <%= link_to tc.content, tc %>  <b><%= tc.count_of_posts %> posts</b></p>
        <% end %>

    <% end %>
</div>
<br>

<%= link_to 'New Topic', new_topic_path if can? :create, User %>
